body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
    background: rgb(246, 245, 245);
    
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
    background: rgb(243, 242, 242);
    text-align: center;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.picture {
    width: 300px;
    height: 250px;
}

input{
border: 2px solid #cccccc;
padding: 8px;
align-content: center;
text-align: center;
}

button {
    cursor: pointer;
    border: 2px solid #cccccc;
    background: #888888;
    color: white;
    padding: 8px;

}
#headOne{
    font-size: 16px;
    padding: 5px;
    text-align: center;
}

